Django==2.1.3
django-registration
django-registration-redux
django-tools
djangorestframework
Pillow
requests
django-storages
boto3
djongo
celery[sqs]
python-memcached
pycurl
gunicorn
pylibmc==1.5.2
newrelic