{% extends 'eventos/base_landing.html' %}

{% block head %}

<title>Smart Tools - Inicio</title>

{% endblock %}



		{%  block content %}

		<div class="flexslider progression-studios-slider">
	      <ul class="slides">
				<li class="progression_studios_animate_in">
					<div class="progression-studios-slider-image-background" style="background-image:url(/static/images/demo/slide-1.jpg);">
						<div class="progression-studios-slider-display-table">
							<div class="progression-studios-slider-vertical-align">

								<div class="container">

									<div class="progression-studios-slider-caption-width">
										<div class="progression-studios-slider-caption-align">
											<h2>Bienvenido a SmartTools<span style="color:#3db13d;">.</span></h2>
											<h6>Crea fácilmente concursos de videos con tu base de clientes!</h6>
											<a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="/registro" role="button">Prueba GRATIS!</a>
										</div><!-- close .progression-studios-slider-caption-align -->
									</div><!-- close .progression-studios-slider-caption-width -->

								</div><!-- close .container -->

							</div><!-- close .progression-studios-slider-vertical-align -->
						</div><!-- close .progression-studios-slider-display-table -->

						<div class="progression-studios-slider-mobile-background-cover"></div>
					</div><!-- close .progression-studios-slider-image-background -->
				</li>
				<li class="progression_studios_animate_right">
					<div class="progression-studios-slider-image-background" style="background-image:url(/static/images/demo/slide-2.jpg); background-color:#111015;">
						<div class="progression-studios-slider-display-table">
							<div class="progression-studios-slider-vertical-align">

								<div class="container">

									<div class="progression-studios-slider-caption-width">
										<div class="progression-studios-slider-caption-align">
											<h2 class="light-fonts-pro">Experiencia de Usuario</h2>
											<h6 class="light-fonts-pro">Nuestros usuarios nos reconocen como la mejor plataforma de concursos de vídeos.</h6>
											<a class="btn btn-green-pro btn-slider-pro" href="dashboard-home.html" role="button">Mira algunos concursos</a>
										</div><!-- close .progression-studios-slider-caption-align -->
									</div><!-- close .progression-studios-slider-caption-width -->

								</div><!-- close .container -->

							</div><!-- close .progression-studios-slider-vertical-align -->
						</div><!-- close .progression-studios-slider-display-table -->

					</div><!-- close .progression-studios-slider-image-background -->
				</li>
				<li class="progression_studios_animate_left">
					<div class="progression-studios-slider-image-background" style="background-image:url(/static/images/demo/slide-3.jpg);">
						<div class="progression-studios-slider-display-table">
							<div class="progression-studios-slider-vertical-align">

								<div class="container">

									<div class="progression-studios-slider-caption-width">
										<div class="progression-studios-slider-caption-align">
											<h2>Tecnología de Vanguardia</h2>
											<h6>Ponemos a tu alcance lo mejor en reproducción de video!</h6>
											<a class="btn btn-green-pro btn-slider-pro btn-shadow-pro" href="/registro" role="button">Prueba GRATIS!</a>
										</div><!-- close .progression-studios-slider-caption-align -->
									</div><!-- close .progression-studios-slider-caption-width -->

								</div><!-- close .container -->

							</div><!-- close .progression-studios-slider-vertical-align -->
						</div><!-- close .progression-studios-slider-display-table -->

						<div class="progression-studios-slider-mobile-background-cover"></div>
					</div><!-- close .progression-studios-slider-image-background -->
				</li>
			</ul>
		</div><!-- close .progression-studios-slider - See /js/script.js file for options -->

		<div id="content-pro">

  	 		<div class="container">


				<div class="row">
					<div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
						<img src="/static/images/demo/home-1.jpg" class="img-fluid" alt="Watch in Any Devices">
					</div>
					<div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
	  				<h2 class="short-border-bottom">Crea tu Concurso</h2>
						<p>En cuestión de segundos crea un concurso de vídeos profesional para tus clientes. Con nuestra herramienta será más fácil que nunca. ¡Sin ayuda de desarrolladores o diseñadores!</p>
						<div style="height:15px;"></div>
						<p><a class="btn btn-green-pro" href="/precios" role="button">Crear ahora!</a></p>
					</div>
				</div><!-- close .row -->


				<div class="row">
					<div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
	  					<h2 class="short-border-bottom">Publica tu Concurso</h2>
						<p>Distribuye la URL única de tu concurso en TV, tu portal Web o simplemente envíalo a tus clientes a través de email para que estos puedan entrar y subir los videos a tu concurso.</p>
						<div style="height:15px;"></div>
						<p><a class="btn btn-green-pro" href="/precios" role="button">Hazlo ahora!</a></p>
					</div>
					<div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
						<img src="/static/images/demo/home-2.jpg" class="img-fluid" alt="Make Your Own Playlist">
					</div>
				</div><!-- close .row -->


				<div class="row">
					<div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
						<img src="/static/images/demo/home-3.jpg" class="img-fluid" alt="Watch in Ultra HD">
					</div>
					<div class="col-md my-auto"><!-- .my-auto vertically centers contents -->
	  					<h2 class="short-border-bottom">Revisa y Califica</h2>
						<p>Los videos estarán disponibles para que sean revisados por el equipo de marketing de tu empresa y el mejor video de cada concurso ganará un fabuloso premio. SmartTools te proporciona una sección de análisis y monitoreo de resultados en tiempo real, diseñada para ayudarte a medir la respuesta de tus clientes y mejorar tu estrategia.</p>
						<div style="height:15px;"></div>
						<p><a class="btn btn-green-pro" href="/precios" role="button">Prueba GRATIS!</a></p>
					</div>
				</div><!-- close .row -->

				<div style="height:35px;"></div>

				<div class="clearfix"></div>
			</div><!-- close .container -->


			<hr>

			<div class="progression-pricing-section-background">
			<div class="container">

				<div class="row">
					<div class="mx-auto">
						<div style="height:70px;"></div>
						<h2 class="short-border-bottom">Nuestros Planes &amp; Precios</h2>
					</div>
				</div><!-- close .row -->

				<div style="height:25px;"></div>

				<div class="row">
					<div class="col-md">
						<ul class="checkmark-list-pro">
							<li>1 mes de acceso ilimitado!</li>
							<li>Soporte para miles de vídeos.</li>
						</ul>
					</div>
					<div class="col-md">
						<ul class="checkmark-list-pro">
							<li>Ingresa desde tu teléfono, computadora portátil, tableta o TV.</li>
							<li>Información en tiempo real.</li>
						</ul>
					</div>
					<div class="col-md">
						<ul class="checkmark-list-pro">
							<li>Crea concursos ilimitadamente!</li>
							<li>Reproductor de vídeo con la mejor tecnología.</li>
						</ul>
					</div>
				</div><!-- close .row -->


				<div class="pricing-table-pro">
					<div class="row">
						<div class="col-md">
							<div class="pricing-table-col">
								<h6>PRUEBA GRATIS</h6>
								<h2>Gratis</h2>
								<ul>
									<li>720p Disponible</li>
									<li>Mira en cualquier dispositivo</li>
									<li>Hasta 1 concurso</li>
									<li>Descargas disponibles</li>
								</ul>
								<p><a class="btn" href="/registro" role="button">Seleccionar Plan</a></p>
							</div><!-- close .pricing-table-col -->
						</div><!-- close .col-md-12 -->
						<div class="col-md">
							<div class="pricing-table-col pricing-table-col-shadow-pro">
								<h6>STARTER</h6>
								<h2><sup>$</sup>10<span> / mes</span></h2>
								<ul>
									<li>HD Disponible</li>
									<li>Mira en cualquier dispositivo</li>
									<li>Hasta 10 concursos</li>
									<li>Descargas disponibles</li>
								</ul>
								<p><a class="btn btn-green-pro" href="/registro" role="button">Seleccionar Plan</a></p>
							</div><!-- close .pricing-table-col -->
						</div><!-- close .col-md-12 -->
						<div class="col-md">
							<div class="pricing-table-col">
								<h6>PREMIUM</h6>
								<h2><sup>$</sup>14<span> / mes</span></h2>
								<ul>
									<li>Ultra HD Disponible</li>
									<li>Mira en cualquier dispositivo</li>
									<li>Concursos Ilimitados</li>
									<li>Descargas disponibles</li>
								</ul>
								<p><a class="btn" href="/registro" role="button">Seleccionar Plan</a></p>
							</div><!-- close .pricing-table-col -->
						</div><!-- close .col-md-12 -->
					</div><!-- close .row -->
				</div><!-- close .pricing-table-pro -->


				<div class="clearfix"></div>
			</div><!-- close .container -->

			</div><!-- close .progression-pricing-section-background -->

		</div><!-- close #content-pro -->

		<a href="#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a>

		{% endblock %}
