{% load staticfiles %}
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style_landing.css' %}">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700%7CMontserrat:300,400,600,700">

	<link rel="stylesheet" href="{% static 'vendors/icons/fontawesome/css/fontawesome-all.min.css' %}"><!-- FontAwesome Icons -->
	<link rel="stylesheet" href="{% static 'vendors/icons/Iconsmind__Ultimate_Pack/Line%20icons/styles.min.css' %}"><!-- iconsmind.com Icons -->


{% block head %}

<title>Smart Tools - Login</title>

{% endblock %}
</head>
<body>


		{%  block content %}



		<!-- Modal -->
		<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
			 <button type="button" class="close float-close-pro" data-dismiss="modal" aria-label="Close">
			           <span aria-hidden="true">&times;</span>
			</button>
		  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
		    <div class="modal-content">
				 <div class="modal-header-pro">
					 <h2>Welcome Back</h2>
					 <h6>Sign in to your account to continue using SKRN</h6>
				 </div>
				 <div class="modal-body-pro social-login-modal-body-pro">

					 <div class="registration-social-login-container">
						 <form action="/accounts/login/" method="POST">
							 {% csrf_token %}
							 <div class="form-group">
								 <input type="email" class="form-control" id="username" name="email" placeholder="Username (email)" required>
							 </div>
							 <div class="form-group">
								 <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
							 </div>
							 {% if errors %}
									 {% for error in errors %}
										 <div class="alert alert-danger" style="text-align: center;">
											 <strong>Error!</strong> {{ error }}
										 </div>
									 {% endfor %}
							 {% endif %}
							 <div class="form-group">
								 <button type="submit" class="btn btn-green-pro btn-display-block">Sign In</button>
							 </div>
							 <div class="container-fluid">
								 <div class="row no-gutters">
							 		<div class="col checkbox-remember-pro"><input type="checkbox" id="checkbox-remember"><label for="checkbox-remember" class="col-form-label">Remember me</label></div>
									<div class="col forgot-your-password"><a href="#!">Forgot your password?</a></div>
								</div>
							</div><!-- close .container-fluid -->

						 </form>

					 </div><!-- close .registration-social-login-container -->

					 <div class="clearfix"></div>


 		      </div><!-- close .modal-body -->

			 <a class="not-a-member-pro" href="/registro">Not a member? <span>Join Today!</span></a>
		    </div><!-- close .modal-content -->
		  </div><!-- close .modal-dialog -->
		</div><!-- close .modal -->

		{% endblock %}




<!-- Required Framework JavaScript -->
<script src="{% static 'vendors/jquery/jquery-3.3.1.min.js' %}"></script><!-- jQuery -->
<script src="{% static 'vendors/js/popper.min.js' %}" defer></script><!-- Bootstrap Popper/Extras JS -->
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}" defer></script><!-- Bootstrap Main JS -->
<!-- All JavaScript in Footer -->

<!-- Additional Plugins and JavaScript -->
<script src="{% static 'vendors/js/navigation.js' %}" defer></script><!-- Header Navigation JS Plugin -->
<script src="{% static 'vendors/js/jquery.flexslider-min.js' %}" defer></script><!-- FlexSlider JS Plugin -->
<script src="{% static 'vendors/js/script.js' %}" defer></script><!-- Custom Document Ready JS -->

<script>
$(document).ready(function() {
    $('#LoginModal').modal('show');
});

</script>

		</body>
</html>
