{% extends 'eventos/base_landing.html' %}

{% block head %}

<title>Smart Tools - Precios</title>

{% endblock %}

{% block content %}

		<div id="content-pro">

  	 		<div class="container">
					<div class="centered-headings-pro pricing-plans-headings">
						<h6>Por un bajo precio mensual</h6>
						<h1>Crea concursos de videos para tus clientes</h1>
					</div>
			</div><!-- close .container -->

			<div class="container">
				<ul id="registration-steps-pro">
					<li class="current-menu-item">
						<a href="/precios">
							<div class="registration-step-circle-icon">01</div>
							<div class="registration-step-number">Paso 1</div>
							<h5 class="registration-step-title">Selecciona tu plan</h5>
						</a>
					</li>
					<li>
						<a href="/registro">
							<div class="registration-step-circle-icon">02</div>
							<div class="registration-step-number">Paso 2</div>
							<h5 class="registration-step-title">Crea tu cuenta</h5>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="registration-step-circle-icon">03</div>
							<div class="registration-step-number">Paso 3</div>
							<h5 class="registration-step-title">Bienvenid@ a SmartTools!</h5>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>


			<div id="pricing-plans-background-image">
				<div class="container">
						<div class="pricing-plans-page-container">

							<div class="row">
								<div class="col-md">
									<div class="pricing-table-col">
										<h6>PRUEBA GRATIS</h6>
										<h2>Gratis</h2>
										<ul>
											<li>720p Disponible</li>
											<li>Mira en cualquier dispositivo</li>
											<li>Hasta 1 concurso</li>
											<li>Descargas disponibles</li>
										</ul>
										<p><a class="btn" href="/registro" role="button">Seleccionar Plan</a></p>
									</div><!-- close .pricing-table-col -->
								</div><!-- close .col-md-12 -->
								<div class="col-md">
									<div class="pricing-table-col pricing-table-col-shadow-pro">
										<h6>STARTER</h6>
										<h2><sup>$</sup>10<span> / mes</span></h2>
										<ul>
											<li>HD Disponible</li>
											<li>Mira en cualquier dispositivo</li>
											<li>Hasta 10 concursos</li>
											<li>Descargas disponibles</li>
										</ul>
										<p><a class="btn btn-green-pro" href="/registro" role="button">Seleccionar Plan</a></p>
									</div><!-- close .pricing-table-col -->
								</div><!-- close .col-md-12 -->
								<div class="col-md">
									<div class="pricing-table-col">
										<h6>PREMIUM</h6>
										<h2><sup>$</sup>14<span> / mes</span></h2>
										<ul>
											<li>Ultra HD Disponible</li>
											<li>Mira en cualquier dispositivo</li>
											<li>Concursos Ilimitados</li>
											<li>Descargas disponibles</li>
										</ul>
										<p><a class="btn" href="/registro" role="button">Seleccionar Plan</a></p>
									</div><!-- close .pricing-table-col -->
								</div><!-- close .col-md-12 -->
							</div><!-- close .row -->

						</div><!-- close .pricing-plans-page-container -->

				</div><!-- close .container -->
			</div><!-- close #pricing-plans-background-image -->

		</div><!-- close #content-pro -->

		{% endblock %}
