{% extends 'skrn/base.html' %}

{% block content %}
    {% for x in concursos %}
    <div class="container">
      <div class="row">
        <div class="col-12 " style="max-height: 280px;">
          <img src="{{ x.banner }}" class="rounded img-fluid mx-auto d-block img-responsive" alt="{{ x.nombre }}" style="height: 100%; width: 100%;">
        </div>
      </div>

      <div class="clearfix"></div>
    </br>
    </br>
      <div class="row text-center mx-auto box h-100 d-flex justify-content-center flex-column">
        <h1>Hola!</h1><p style="text-align: center; font-size:30px;">Bienvenid@ al concurso <strong>{{ x.nombre }}</strong>,
          a partir del <strong>{{ x.fec_inicio}}</strong> y hasta el <strong>{{ x.fec_fin}}</strong>
        participa subiendo tu vídeo y gana <strong>{{ x.descripcion}}</strong>. </p>
        <h6 class="light-fonts-pro">Nuestros usuarios nos reconocen como la mejor plataforma de concursos de vídeos.</h6>
        <a href="{{ my_url|add:"nuevo"}}"><button type="button" class="btn-primary">Participa Ahora!</button></a>
      </div>
    </div>
    {% endfor %}
{% endblock %}
