{% extends 'skrn/base.html' %}

{% block content %}
    <div class="dashboard-container">
        <div class="registration-billing-form">
            <form>
                <input type="hidden" value="{{ csrf_token }}">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="{{ form.nombre.name }}" class="col-form-label">{{ form.nombre.label }}:</label>
                            {{ form.nombre }}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="{{ form.apellido.name }}"
                                   class="col-form-label">{{ form.apellido.label }}:</label>
                            {{ form.apellido }}
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="{{ form.email.name }}" class="col-form-label">{{ form.email.label }}:</label>
                            {{ form.email }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.mensaje.name }}"
                                   class="col-form-label">{{ form.mensaje.label }}:</label>
                            {{ form.mensaje }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="{{ form.video.name }}" class="col-form-label">{{ form.video.label }}:</label>
                            {{ form.video }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        var csrf_token = "{{ csrf_token }}";
    </script>
{% endblock %}

{% block styles %}
    <style>
        .registration-billing-form {
            padding: 10px;
        }

        .hidden {
            display: none;
        }
    </style>
{% endblock %}
